.classroom-container {
  display: flex;
  flex-direction: column;

  .live-container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 448px;
    margin: auto auto;
    margin-top: 120px;
    
    
    .video-wrapper {   
      width: 59%;
      height: 90%;    
    }    
  }
   
}