@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: text-color;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}