@import '../../styles/base';

.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  color: $themeColor;
  border: none;
  background-color:$white;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 1);
    
  header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 40px;

    .header-left {
      flex: 1;
    }

    .header-center {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 14px;
    }

    a {
      font-weight: 400;
      color: $themeColor;
      text-decoration: none;
    }
    
    .header-right {
      flex: 1;
      display: flex;
      justify-content: right;

      div {
        display: flex;
        justify-content: right;
        align-items: center;

        &:last-child {
          margin-left: 20px;

          span {
            margin-left: 5px;
          }
        }

        button {
          margin-left: 5px;
        }
      }

      img {
        justify-content: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      button {
        font-size: 1em;
        color: $themeColor;
        font-weight: 400;
        border: none;
        background: none;
      }
    }
  }
}

 
  

  




