@import '../../styles/base';

#chat-room {
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  form {
    textarea {
      width: 100%;
      border: 0;
      padding: 16px;
      border-radius: 8px;
      background:  $white;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
      resize: vertical;
      min-height: 130px;
    }
    
    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      
      .user-info {
        display: flex;
        align-items: center;
        
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        
        span {
          margin-left: 8px;
          color: #29292e;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .question-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}