.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
      font-size: 100px;
  }
  
  a {
      text-decoration: none;
      color: #fff;
      padding: 10px;
      background-color: brown;
  }
}